extends ../account/layout
block content
  .app-content(style="margin-top:50px")
    .container-fluid
      .row
        table.table.table-hover.table-bordered
          thead
            tr
              th 栏目
              th 创建时间
              th 更新时间
              th 查看
              th 删除
          tbody
            each item in columns
              tr(class="item-id-#{item._id}")
                td #{item.name}
                td #{moment(item.createAt).format('MM/DD/YYYY')}
                td #{moment(item.updateAt).format('MM/DD/YYYY')}
                td
                  a(href='/tagsview/?tag=#{item.name}', target="_blank") 查看
                td
                  button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除标签
        .row
          form(method="post")
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.col-lg-3.control-label
                | 栏目名
                sup *
              .col-lg-5
                input.form-control(placeholder="栏目名 不多于四个字", name='column',required='' )
            .form-group
              .col-lg-9.col-lg-offset-3
                button.btn.btn-success(type='submit')
                  i.fa.fa-user-plus
                  | 提交
  block script


