extends layout

block head
  link(rel='stylesheet', href='/css/userinfo.min.css', type='text/css', media='screen')
  link(rel='stylesheet', type='text/css', href='/plugin/editor/css/wysiwyg-editor.css')

  link(rel='stylesheet', type='text/css', href='/plugin/editor/input/style.css')
  //link(href='/plugin/editor/css/demo.css', rel='stylesheet', type='text/css')
block content
  .info
    label(for='rainbow')
      input#rainbow(type='checkbox', name='rainbow', checked='')
      |  多色
    br
    label(for='startplacement')
      input#startplacement(type='checkbox', name='startplacement' checked='')
      |  随机位置
  canvas
  .container-fluid(style="max-width: 800px; margin: 60px auto 30px; padding:30px; background: RGBa(255,255,255,0.9); box-shadow: 0 1px 3px rgba(0,0,0,.1); position: relative;")
    .row
      h2 秀出你的脑洞
      form(role='form' method='POST')
        .form-group
          input(type='hidden',id="_csrf", name='_csrf', value=_csrf)
        .form-group.col-md-6
          label(class='col-sm-2 control-label', for='title') 标题
          input.form-control(type='text', name='post[posttitle]',id='title')
        .form-group.col-md-6
          label(class='col-sm-2 control-label', for='tag') 分类
          input.form-control(type="text", name="post[tagName]",value = "",id="tag",placeholder="请自定义一个分类/标签")
        .form-group.col-md-6
          each item in columns
            label.radio-inline
              input#inlineRadio1(type='radio', name='post[column]', value='#{item._id}')
              | #{item.name}

        if tags
          .form-group
            label.col-sm-2.control-label 分类选择
            each cat in tags
              input(type='checkbox', name='post[tags]', value='#{cat._id}')
              |  #{cat.name}
        .form-group
          textarea#editor(name='post[postbody]', placeholder='发布你的想法...' oninput='test()')
        .form-group
          .col-sm-offset-2
            button.btn.btn-primary(type='submit',style="float:right" )
              i.fa.fa-envelope
              | 发表

block script
  script(type='text/javascript', src='/plugin/editor/js/wysiwyg.min.js')
  script(type='text/javascript', src='/plugin/editor/js/wysiwyg-editor.min.js')
  script(type='text/javascript', src='/plugin/editor/js/post.js')
  script(type = 'text/javascript', src = 'http://malsup.github.com/jquery.form.js')
  script(type = 'text/javascript', src = '/plugin/editor/input/index.js')

